services:
	- MatiCore\Address\CountryManager

parameters:
	menu:
		cmsMainSetting:
			items:
				countries:
					title: address.menu.country.title
					route: :Admin:Country:default
					icon: fas fa-globe-europe
					position: 85
					rights:
						- cms__settings__countries

orm.annotations:
	paths:
		MatiCore\Address: %appDir%/../vendor/mati-core/address/src/Entity