<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;

/**
 * Class CountryPresenter
 * @package App\AdminModule\Presenters
 */
class CountryPresenter extends CountryInnerPackagePresenter
{

}